@model RedditPosts.Models.RedditPost

<div style='position:relative; padding-bottom:calc(70.80% + 44px)'>
    <iframe src='@Url.Content(Model.GetContentUrls()[0])?autoplay=0&hd=1&controls=1' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe>
</div>