@model RedditPosts.Models.RedditPost

<a href="@Url.Content(Model.GetContentUrls()[0])">
    <h2 style="text-align:center">
        <img src="@Url.Content(Model.GetContentUrls()[0])" alt="@Html.DisplayFor(modelItem => Model.Title)" style="height:auto; width:auto; max-height:720px; max-width:100%" />
    </h2>
</a>