@model RedditPosts.Models.RedditPost

<div style="text-align: center">
    <blockquote class="imgur-embed-pub" lang="en" data-id="a/@Url.Content(Model.GetImgurIdNum())" data-context="false">
        <a href="//imgur.com/a/@Url.Content(Model.GetImgurIdNum())">Test</a>
    </blockquote>
</div>
<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>