@model RedditPosts.Models.RedditPost

@{ 
    string imgUrl = Model.GetLinkImgPreview();
}

@if(!String.IsNullOrEmpty(imgUrl))
{
    <a href="@imgUrl" target="_blank">
        <div class="text-center">
            <img src="@imgUrl" alt="@imgUrl" class="post-image" />
        </div>
    </a>
}