@model string

@{
    ViewData["Title"] = "Password";
}

<h1>Password Lock</h1>

<form asp-controller="Password" asp-action="Index" method="get">
    <div>
        <label for="password">Password: </label>
        @Html.Password("password")
    </div>

    <div>
        <input type="checkbox" onclick="togglePassword()" id="showPassword">
        <label for="showPassword"> Show Password</label>
    </div>

    <input type="hidden" name="redirectTo" value="@Model" />
    <input type="submit" value="Submit">
</form>

@section Scripts
{
    <script src="~/js/Password.js" asp-append-version="true"></script>

    <script>
        var passwordSetup = new PasswordSetup();
    </script>
}
