@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Reddit Profiler</h1>
    <h2>
        <img src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_reddit-512.png" alt="Reddit Logo" style="width:25%" />
    </h2>

    <p>Created by Kelly: <a href="https://github.com/kenny2892">Github</a></p>
    <button class="retrieveUpvoteBtn" onclick="retrieveUpvotes()">Retrieve Upvotes</button>
    <h3 id="loadingMsg"></h3>
    <h3 id="upvoteCounter"></h3>
    <button class="updateIconsBtn" onclick="updateIcons()">Update Subreddit Icons</button>
    <h3 id="iconRetrieving"></h3>
    <!-- <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Retrieve">Retrieve Upvotes</a> TODO-->
</div>

@section Scripts
{
    <script> // Source for using method: https://stackoverflow.com/a/25605074
        var count = 1;
        var words = "Retrieving Upvotes";
        var textArea = document.getElementById("loadingMsg");
        var upvoteDisplay = document.getElementById("upvoteCounter");
        var iconDisplay = document.getElementById("iconRetrieving");
        var isRetrieving = false;

        function retrieveUpvotes()
        {
            if(isRetrieving)
            {
                console.log("Button not active");
                return;
            }

            isRetrieving = true;
            $.ajax // Launch the retrieval Python Script
            ({
                url: "/Home/Retrieve",
                data: {}
            });

            const interval = setInterval(function ()
            {
                $.ajax
                ({
                    url: "/Home/RetrieveUpvoteCount",
                    data: {},
                    success: function (data, textStatus, jqXHR) // Data is the return value
                    {
                        upvoteDisplay.textContent = "Posts Retrieved: " + data;
                    },
                });

                $.ajax
                ({
                    url: "/Home/isRetrievingUpvotes",
                    data: {},
                    success: function (data, textStatus, jqXHR) // Data is the return value
                    {
                        // console.log("Recieved");
                        if(data)
                        {
                            textArea.textContent = words;
                            for(var i = 0; i < count; i++)
                            {
                                textArea.textContent += ".";
                            }

                            count++;

                            if(count == 4)
                            {
                                count = 0;
                            }
                        }

                        else
                        {
                            textArea.textContent = "";
                            upvoteDisplay.textContent = "";
                            isRetrieving = false;

                            $.ajax // Add new posts to the database
                            ({
                                url: "/Home/UpdatePosts",
                                data: {}
                            });

                            clearInterval(interval);
                        }
                    },
                });
            }, 1000);
        }

        function updateIcons()
        {
            iconDisplay.textContent = "Updating Icons";

            $.ajax // Launch the retrieval Python Script
            ({
                url: "/Home/UpdateIcons",
                data: {}
            })
            .done(function(result) 
            {
                if(result) 
                {
                    iconDisplay.textContent = "";
                }

                else
                {
                    iconDisplay.textContent = "FAILED";
                }
            })
            .fail(function(xhr, ajaxOptions, thrownError) 
            {
                iconDisplay.textContent = "FAILED";
                console.log("Error in updateIcons:", thrownError);
            });
        }
    </script>
}
