@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Reddit Profiler</h1>
    <h2>
        <img src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_reddit-512.png" alt="Reddit Logo" style="width:25%" />
    </h2>

    <p>Created by Kelly: <a href="https://github.com/kenny2892">Github</a></p>
    <button class="retrieveUpvoteBtn" id="retrieveUpvoteBtn">Retrieve Upvotes</button>
    <h3 id="loadingMsg"></h3>
    <h3 id="upvoteCounter"></h3>
    <button class="updateIconsBtn" id="updateIconsBtn">Update Subreddit Icons</button>
    <h3 id="iconRetrieving"></h3>
    <!-- <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Retrieve">Retrieve Upvotes</a> TODO-->
</div>

@section Scripts
{
    <script src="~/js/Home.js" asp-append-version="true"></script>

    <script>
        var homeSetup = new HomeSetup();
    </script>
}
