@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website is purely for private use and not meant to be publically used, so I don't believe I need a privacy policy, but here is a quick one just incase.
</p>
<p>
    This website uses cookies to store customization and whether or not you have entered the right password. 
    Specifically, the cookie stores an id assigned to your session. 
    This id is then used to store things like whether or not you have entered the password, if your using light mode, and other data like that.
</p>
<p>
    No personal data is stored.
</p>
