@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is purely for private use and not meant to be publically used, so I don't believe I need a privacy policy, but here is a quick one just incase.</p>
<p>This website uses cookies to store customization and whether or not you have entered the right password.</p>

<p>Specifically, cookies are stored to track:</p>
<ul>
    <li>If you want the header pinned.</li>
    <li>If you want light mode.</li>
    <li>If you want to turn off Nsfw.</li>
    <li>To asign an id to your session (meaning it will only last till you close the browser). This id is then used to tell if you have entered the password for the website.</li>
</ul>

<p>No personal data is stored.</p>
