@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website is purely for private use and not meant to be publically used, so there isn't a privacy policy.
</p>
<p>
    This is just being left here as a filler.
</p>
