<h1>Options:</h1>

<hr />

<div class="theme-switch-wrapper">
    <h6>Light Mode</h6>
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
    </label>
    <h6>Dark Mode</h6>
</div>

<div>
    <label for="allowNsfw">Allow Nsfw: </label>
    <input type="checkbox" id="allowNsfw">
</div>

@section Scripts
{
    <script src="~/js/Options.js" asp-append-version="true"></script>

    <script>
        var setupTheme = SetupThemeToggle();
        var setupAllowNsfw = SetupAllowNsfw();
    </script>
}