@model RedditPosts.ViewModels.SubredditPageViewModel

@{
    ViewData["Title"] = "Subreddits";
}

<h1>Subreddits</h1>

<form asp-controller="Subreddits" asp-action="Index" method="get">
    @if(!Model.IsMobile)
    {
        <p>
            <span for="SortingSetting">Sorting: </span> @Html.DropDownListFor(vm => vm.SortingSetting, new SelectList(Enum.GetValues(typeof(SubredditSortingSettings))))
            |
            <span for="NsfwSetting">Nsfw Filter: </span> @Html.DropDownListFor(vm => vm.NsfwSetting, new SelectList(Enum.GetValues(typeof(NsfwSettings))))
            <input type="submit" value="Submit">
        </p>
    }

    else
    {
        <p><span for="SortingSetting">Sorting: </span> @Html.DropDownListFor(vm => vm.SortingSetting, new SelectList(Enum.GetValues(typeof(SubredditSortingSettings))))</p>
        <p><span for="NsfwSetting">Nsfw Filter: </span> @Html.DropDownListFor(vm => vm.NsfwSetting, new SelectList(Enum.GetValues(typeof(NsfwSettings))))</p>
        <p><input type="submit" value="Submit"></p>
    }
</form>

<div id="subredditGrid">
</div>

<h2 id="loadingSubreddits" style="text-align: center">LOADING SUBREDDITS</h2>

@section Scripts
{
    <script src="~/js/Subreddits.js" asp-append-version="true"></script>

    <script>
        var loading = new LoadSubreddits({ vm:@Html.Raw(Json.Serialize(Model)) });
    </script>
}
